// Add your custom CSS here.
.cookieconsent {
    position: fixed;
    bottom: 6rem;
    padding: 1rem .5rem;
    background-color: #fff;
    box-shadow: 0 0 40px 0 #502b80;
    z-index: 999;
    width:100%;
    margin: 0 auto;
  
    .text {
      color: #502b80;
      font-size: 13px;
      line-height: initial;
    }
  
    button {
      &:hover {
        color:#fff;
        background:#502b80
      }
      color: #502b80;
      font-weight: 700;
      display: block;
      white-space: nowrap;
      text-transform: uppercase;
      padding: 10px 15px;
      font-size: 12px;
      border: 1px solid #502b80;
      border-radius: 50px;
      outline: none;
      transition:all .2s
    }
  
    .row{
      display:flex;
      align-items:center;
    }
  
    @media (max-width: 991.98px) {
      .product-buy-button {
        width: 100%;
        margin-top:15px;
      }
      padding:10px;
      bottom: 0
    }
  }
.cart__btn-checkout, .checkout__btn-proceed, .btn-success {
    color: #fff !important;
}

#button-whatsapp {
  width: 100%;
  color: #fff;
  padding: 15px;
  background-color: #468D7E;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  box-shadow: rgb(0 0 0 / 15%) 0 5px 10px 0;

  .wpp-icon {
    width: 20px;
    margin-right: 10px;
  }
}
.quantity-selector__btn-container {
    margin-left: 0px;
}
.quantity-selector__label {
  flex-grow: 1;
}
.quantity-selector__label button {
  width: 100%;
}
#product-block .skeepers_product__stars:nth-of-type(1) {
  display: none !important;
}
